<launch>
  <!-- <arg name="base"       default="$(optenv TURTLEBOT_BASE kobuki)"/>  -->
   <!-- create, rhoomba -->
  <!-- <arg name="stacks"     default="$(optenv TURTLEBOT_STACKS hexagons)"/>  -->
   <!-- circles, hexagons -->
  <!-- Name of the map to use (without path nor extension) and initial position -->
  <!-- <arg name="map_file"  default=" $(find ogm_ae)/launch/stage-worlds/intel.gfs"/>  -->
  <!-- robopark_plan -->
  <!-- <arg name="world_file"     default=" $(find occ_grid_map)/src/simple.world"/> -->
  <!-- <arg name="initial_pose_x" default="2.0"/> -->
  <!-- <arg name="initial_pose_y" default="2.0"/> -->
  <!-- <arg name="initial_pose_a" default="0.0"/> -->

  <param name="/use_sim_time" value="true"/>
  <!-- <node pkg="stage_ros" type="stageros" name="stageros" args="$(arg world_file)">
    <param name="base_watchdog_timeout" value="0.5"/>
    <remap from="odom" to="odom"/>
    <remap from="base_pose_ground_truth" to="base_pose_ground_truth"/>
    <remap from="cmd_vel" to="mobile_base/commands/velocity"/>
    <remap from="base_scan" to="scan"/>
  </node> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_odom" args="20 9 0 0 0 0 1 odom map" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find occ_grid_map)/include/rviz/base_file.rviz"/>
  <node pkg="occ_grid_map" name="make_map" type="mapping.py" />
  <node pkg="occ_grid_map" name="move_robot" type="move_robot.py" />
 <!-- <include file="$(find turtlebot_stage)/launch/turtlebot_in_stage.launch"/> -->
</launch>
